{% extends 'admin/base.html.twig' %}

{% block body %}

    <head class="Menu">
        <div class="Menu-bosup">
            <div class="block-01 flex-align-vertical Menu-bosup--content">
                <div class="Menu-bosup--logo">
                    <a href=""><img src="../img/logo_pingPong.svg" alt=""></a>
                </div>
                <div class="Menu-bosup--infos">
                    <i class="zmdi zmdi-account"></i>
                    <span><strong>Bonjour</strong>{% if app.user is not null %} {{ app.user.firstname }} {{ app.user.lastname }}{% endif %}</span>
                    <i class="zmdi zmdi-chevron-down"></i>
                </div>
            </div>

            <section class="Navigation block-01">
                <ul class="Navigation-container flex-align-vertical">
                    <li data-tab="tabBord" class="is-active">Tableau de bord</li>
                    <li data-tab="listeParticipants">Liste des participants</li>
                    <li data-tab="gestionChampions">Gestion des champions</li>
                    <li data-tab="messagerie" class="messagerie">Messagerie</li>
                </ul>
            </section>
        </div>
    </head>


    <section class="main open" data-uri="tabBord">
        <section class="Board">
            <article class="Board-list block-01">
                <div>
                    <strong>Les structures</strong>
                    <span>{{ structures|length }}</span>
                </div>
                <div>
                    <strong>Participants</strong>
                    <span>{{ players|length }}</span>
                </div>
                <div>
                    <strong>Équipes crées</strong>
                    <span>{{ users|length }}</span>
                </div>
                <div>
                    <strong>Les tournois</strong>
                    <span>{{ tournaments|length }}</span>
                </div>
            </article>
        </section>

        <section class="block-01">
            <div class="block-02">
                <article class="Tab">
                    <div class="Tab-title flex-align-vertical">
                        <h3>Les Teams</h3>
                        <a href="">Tous les teams <i class="zmdi zmdi-caret-right"></i></a>
                    </div>
                    <ul class="Tab-content">
                        {% for user in users %}
                            <li>
                                <strong class="Tab-company">{{ user.teamname }}</strong>
                                <span class="Tab-participants">{{ user.players|length }} participants invités</span>
                                <span class="Tab-team">{{ user.structurename }}</span>
                                <span class="Tab-select">Statut du tournoi<br>
                                    {% if user.tournament == null %}
                                        <strong class="selection">Pré-selections</strong>
                                        {% elseif user.tournament.status == 1 %}
                                        <strong class="started">Tournoi en cours</strong>
                                    {% elseif user.tournament.status == 0 %}
                                        <strong class="finish">Tournoi terminé</strong>
                                    {% endif %}
                                    </strong>
                            </span>
                            </li>
                        {% endfor %}
                    </ul>
                </article>
                <br/><br/>
                <article class="Tab">
                    <div class="Tab-title flex-align-vertical">
                        <h3>Les tournois</h3>
                        <a href="">Tous les tournois <i class="zmdi zmdi-caret-right"></i></a>
                    </div>
                    <ul class="Tab-content">
                        {% for tournament in tournaments %}
                            <li>
                                <strong class="Tab-company">{{ tournament.user.teamname }}</strong>
                                <span class="Tab-participants">{{ tournament.user.players|length }} participants</span>
                                <span class="Tab-team">
                                    {% if tournament.status == 1 %}
                                        En cours
                                    {% else %}
                                        Terminé
                                    {% endif %}
                                </span>
                            <span class="Tab-select">
                                {% if tournament.status == 0 %}
                                    Vainqueur<br>
                                    <strong class="finish">{{ tournament.winner.firstname }} {{ tournament.winner.lastname }}</strong>
                                {% endif %}
                            </span>
                            </li>
                        {% endfor %}
                    </ul>
                </article>
                <br/><br/>
            </div>

            <aside class="block-03">
                <section class="Management">
                    <span>Gestion<br>des champions</span>
                    <a href="">Gérer <i class="zmdi zmdi-caret-right"></i></a>
                </section>

                <section class="Calendar">
                    <div class="calendar calendar-first" id="calendar_first">
                        <div class="calendar_header">
                            <button class="switch-month switch-left"><i class="zmdi zmdi-chevron-left"></i></button>
                            <h2>Janvier 2017</h2>
                            <button class="switch-month switch-right"><i class="zmdi zmdi-chevron-right"></i></button>
                        </div>
                        <div class="calendar_weekdays">
                            <div>L</div>
                            <div>Ma</div>
                            <div>Me</div>
                            <div>J</div>
                            <div>V</div>
                            <div>S</div>
                            <div>D</div>
                        </div>
                        <div class="calendar_content">
                            <div class="past-date">26</div>
                            <div class="past-date">27</div>
                            <div class="past-date">28</div>
                            <div class="past-date">29</div>
                            <div class="past-date">30</div>
                            <div class="past-date">31</div>
                            <div>1</div>
                            <div>2</div>
                            <div>3</div>
                            <div>4</div>
                            <div>5</div>
                            <div>6</div>
                            <div>7</div>
                            <div>8</div>
                            <div>9</div>
                            <div>10</div>
                            <div>11</div>
                            <div>12</div>
                            <div class="today">13</div>
                            <div>14</div>
                            <div>15</div>
                            <div>16</div>
                            <div>17</div>
                            <div>18</div>
                            <div>19</div>
                            <div>20</div>
                            <div>21</div>
                            <div>22</div>
                            <div>23</div>
                            <div>24</div>
                            <div>25</div>
                            <div>26</div>
                            <div>27</div>
                            <div>28</div>
                            <div>29</div>
                            <div>30</div>
                            <div>31</div>
                            <div class="blank"></div>
                            <div class="blank"></div>
                            <div class="blank"></div>
                            <div class="blank"></div>
                            <div class="blank"></div>
                            <div class="blank"></div>
                            <div class="blank"></div>
                            <div class="blank"></div>
                            <div class="blank"></div>
                            <div class="blank"></div>
                            <div class="blank"></div>
                        </div>
                    </div>
                </section>
            </aside>

        </section>
    </section><!-- end main-->

    <section class="main" data-uri="listeParticipants">
        <section class="block-01">
            <div class="Filter">
                <select name="" id="" class="form-control">
                    <option value="">Tri par ordre alphabétique</option>
                    <option value="">Tri par nombre de participants</option>
                    <option value="">Tri parnombre d'équipes</option>
                    <option value="">Tri par situation</option>
                </select>
                <span>
                    <i class="zmdi zmdi-chevron-down"></i>
                </span>
            </div>

            <article class="Tab block-02">

                <div class="Tab-title flex-align-vertical">
                    <h3>Les structures</h3>
                </div>

                <ul class="Tab-content">
                    {% for player in players %}
                        <li>
                            <strong class="Tab-company">{{ player.firstname }} {{ player.lastname }}</strong>
                            <span class="Tab-participants">{{ player.email }}</span>
                            <span class="Tab-team">{{ player.structure }}</span>
                            <span class="Tab-select">Statut<br>
                                {% if player.status == 2 %}
                                    <strong class="finish">Invitation en cours</strong>
                                {% elseif player.status == 1 %}
                                    <strong class="finish">Accepté</strong>
                                {% else %}
                                    <strong class="finish">Refusé</strong>
                                {% endif %}
                            </span>
                        </li>
                    {% endfor %}

                </ul>
            </article>

            <aside class="block-03">

                <section class="aside-small Send">
                    <i class="zmdi zmdi-email"></i>
                    Envoyer message
                </section>
                <section class="aside-small Planning">
                    <i class="zmdi zmdi-calendar-alt"></i>
                    Voir le planning
                </section>
                <section class="Management">
                    <span>Gestion des champions</span>
                    <a href="">Gérer <i class="zmdi zmdi-caret-right"></i></a>
                </section>

            </aside>

        </section>
    </section><!-- end main-->

    <section class="main" data-uri="gestionChampions">
        <section class="block-01">
            <div class="Filter">
                <select name="" id="" class="form-control">
                    <option value="">Phase 3 | Final</option>
                    <option value="">Phase 2 | Final</option>
                </select>
                <span>
                    <i class="zmdi zmdi-chevron-down"></i>
                </span>
            </div>

            <article class="Gestion block-01">
                <div class="contain-titl">
                    <h2 class="title-1">QUI POUR LA FINALE ?</h2>
                    <p class="sub-title">Choisissez le nombre de participants pour la finale </p>
                    <a href="#" class="btn-2 float-r">Total : 50 équipes</a>
                </div>


                <div class="Flex-c">
                    <div class="c">
                        <div class="Gestion-container"
                             style="background-image: url('../img/podium1.png'); background-size: cover;">
                            <article class="">
                                <p class="number">50</p>
                                <p>Participants</p>
                            </article>
                        </div>

                        <a class="btn-1 btn-green whitout-margin reverse-color choose" href="#" data-val="50">Choisir</a>
                    </div>


                    <div class="c">
                        <div class="Gestion-container"
                             style="background-image: url('../img/podium2.png'); background-size: cover;">
                            <article class="">
                                <p class="number">100</p>
                                <p>Participants</p>
                            </article>
                        </div>

                        <a class="btn-1 btn-green whitout-margin reverse-color choose" href="#" data-val="100">Choisir</a>
                    </div>

                    <div class="c">
                        <div class="Gestion-container"
                             style="background-image: url('../img/podium3.png'); background-size: cover;">
                            <article class="">
                                <p class="number">150</p>
                                <p>Participants</p>
                            </article>
                        </div>

                        <a class="btn-1 btn-green whitout-margin reverse-color choose" href="#" data-val="150">Choisir</a>
                    </div>

                    <div class="Gestion-container last">
                        <article class="">
                            <strong>
                                Entrez<br>un nombre<br>de participants
                            </strong>

                            <form action="" class="Form-01">
                                <div class="form_control group">
                                    <input id="nbpart" name="nbpart" type="number">
                                    <span class="highlight"></span><span class="bar"></span>
                                    <label id="nbpart" name="nbpart">Nombres de participants</label>
                                </div>
                            </form>
                        </article>
                    </div>
                </div>

            </article>

        </section>

        <div class="center">
            <form action="">
                <input type="hidden" id="nbpartf" name="nbpart" value="0">
                <input type="submit" class="btn-1 btn-green whitout-margin" value="Lancer le Tournoi">
            </form>
        </div>
    </section><!-- end main-->

    <br><br>


{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block javascripts %}

{% endblock %}