{% extends 'tournament/base.html.twig' %}

{% block body %}
    <div class="page-home">
        <nav>
            <!-- NAVIGATION -->
            <div class="hamburger">
                <i class="zmdi zmdi-menu menu"></i>
            </div>

            <div class='menu-1'>
                <nav>
                    <div class="col-md-12">
                        <a href="/">
                            <img src="../img/logo-menu.png" alt="Logo pingpongstartupcup">
                        </a>
                    </div>

                    <div class="col-md-12">
                        <ul class="navi">
                            <li><a href='#'>Accueil</a></li>
                            <li><a href='#'>Les résultats</a></li>
                            <li><a href='#'>Mon équipe</a></li>
                            <li><a href='#'>Web Live Tv</a></li>
                            <li class="bell">
                                <a href="#">
                                    <i class="zmdi zmdi-notifications-active"></i>
                                    <div class="label">Notifications</div>
                                </a>
                            </li>
                        </ul>

                        <ul class="contact">
                            <li>
                                <a href="#">
                                    <i class="zmdi zmdi-email"></i>
                                    <div class="ul-contact">Contact</div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="zmdi zmdi-alert-circle-o"></i>
                                    <div class="ul-contact">A propos</div>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="zmdi zmdi-help"></i>
                                    <div class="ul-contact">Aide</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="zmdi zmdi-power"></i>
                                    <div class="ul-contact">Déconnexion</div>
                                </a>
                            </li>
                        </ul>

                        <div class="rs">
                            <p>Partager l’expérience</p>
                            <a href="#">
                                <i class="zmdi zmdi-facebook"></i>
                            </a>

                            <a href="#">
                                <i class="zmdi zmdi-twitter"></i>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>

            <!-- INSCRIPTION -->
            <button type="button" class="btn inscription" data-toggle="modal" data-target="#modal-connexion">
                <i class="material-icons face">face</i>
            </button>

            <!-- Modal -->

            <button class="btn search" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="zmdi zmdi-search"></i>
            </button>

            <div class="collapse" id="collapseExample">
                <div class="well search-page">
                    <div class="form-group">
                        <input class="form-control" placeholder="Rechercher une équipe...">
                        <button type="submit" class="btn btn-default"><i class="zmdi zmdi-search"></i></button>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-connexion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- HEADER -->
                        <div class="modal-header">
                            <a class="logo-connexion" href="/">
                                <img src="../img/logo-connexion.jpg" alt="Logo PingPongStartupcup">
                            </a>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="zmdi zmdi-plus"></i>
                            </button>
                        </div>

                        <!-- BODY -->
                        <div class="modal-body">
                            <!-- CONNEXION -->
                            <div class="form">
                                <h4>Connexion</h4>
                                <p><sup>*</sup> Veuillez remplir les champs ci-dessous</p>
                                {{ render(url('fos_user_security_login')) }}

                                <a class="account connexion" href="#">
                                    Vous avez déja un compte ? <br>Inscrivez vous !
                                </a>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </nav>

        <div class="head">
            <img src="../img/logo_pingPong_FO.svg" alt="">
            <div>
                <span>Équipe</span>
                <strong>Hetiland</strong>
            </div>
        </div>
    </div>

    <div class="block-01 pt">

        <div class="contain-titl">
            <h2 class="title-1">Phase 1 : sélection des champions</h2>
            <p class="sub-title">Jouez vos matchs et désignez un vainqueur !</p>
            <a href="#" class="btn-1 btn-green whitout-margin float-r reverse-color">Prévenir l'équipe</a>
        </div>

        <section class="Rounds">

            {% set i = 1 %}
            {% for i in 1..lastround.round %}
            <article class="Round-content">
                <h3>Round <span>#{{ i }}</span></h3>
                <div class="Slider-content">
                    <div class="translate-zone Rounds-items">
                        {% set j = 1 %}
                        {% for match in tournament.matchs %}
                            {% if match.round == i %}
                                <table class="invit Round-item {% if j%2 == 0 %}first{% else %}two{% endif %}">
                                <tr class="two-row">
                                    <td>
                                        {% if match.status != 0 and match.playerone is not null and is_granted("ROLE_USER") %}
                                            <a href="{{ path('contest_match_finish', { 'match' : match.id, 'player' : match.playerone.id }) }}">{{ match.playerone.lastname }} {{ match.playerone.firstname }}</a>
                                        {% else %}
                                            {% if match.playerone is not null %}
                                                {{ match.playerone.lastname }} {{ match.playerone.firstname }}
                                            {% endif %}
                                        {% endif %}
                                        <span>Désigner le vainceur</span>
                                    </td>
                                    <td>
                                        {% if match.status != 0 and match.playertwo is not null and is_granted("ROLE_USER") %}
                                            <a href="{{ path('contest_match_finish', { 'match' : match.id, 'player' : match.playertwo.id }) }}">{{ match.playertwo.lastname }} {{ match.playertwo.firstname }}</a>
                                        {% else %}
                                            {% if match.playertwo is not null %}
                                                {{ match.playertwo.lastname }} {{ match.playertwo.firstname }}
                                            {% endif %}
                                        {% endif %}
                                        <span>Désigner le vainceur</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="empty">
                                        {% if match.winner is not null %}
                                            {{ match.winner.lastname }} {{ match.winner.firstname }}
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                            {% set j = j+1 %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="Slide">
                    <div class="container">
                        <div class="slider">
                            <input class="range" step="0.01" value="0" type="range" min="0" max="100" />
                            <output id="rangevalue">50</output>
                        </div>
                    </div>
                </div>
            </article>
            {% set i = i+1 %}
            {% endfor %}
        </section>
        {% if tournament.winner is not null %}
            <button>Terminer</button>
        {% endif %}
    </div>

    <br><br><br>

{% endblock %}

{% block stylesheets %}

{% endblock %}
