{% extends 'tournament/base.html.twig' %}

{% block body %}
    <div class="block-01 pt">

        <div class="contain-titl">
            <h2 class="title-1">Phase 1 : sélection des champions</h2>
            <p class="sub-title">Jouez vos matchs et désignez un vainqueur !</p>
            <a href="#" class="btn-1 btn-green whitout-margin float-r reverse-color">Prévenir l'équipe</a>
        </div>

        <section class="Rounds">

            {% set i = 1 %}
            {% for i in 1..lastround.round %}
            <article class="Round-content">
                <h3>Round <span>#{{ i }}</span></h3>
                <div class="Slider-content">
                    <div class="translate-zone Rounds-items">
                        {% set j = 1 %}
                        {% for match in tournament.matchs %}
                            {% if match.round == i %}
                                <table class="invit Round-item {% if j%2 == 0 %}first{% else %}two{% endif %}">
                                <tr class="two-row">
                                    <td>
                                        {% if match.status != 0 and match.playerone is not null and is_granted("ROLE_USER") %}
                                            <a href="{{ path('contest_match_finish', { 'match' : match.id, 'player' : match.playerone.id }) }}">{{ match.playerone.lastname }} {{ match.playerone.firstname }}</a>
                                        {% else %}
                                            {% if match.playerone is not null %}
                                                {{ match.playerone.lastname }} {{ match.playerone.firstname }}
                                            {% endif %}
                                        {% endif %}
                                        <span>Désigner le vainceur</span>
                                    </td>
                                    <td>
                                        {% if match.status != 0 and match.playertwo is not null and is_granted("ROLE_USER") %}
                                            <a href="{{ path('contest_match_finish', { 'match' : match.id, 'player' : match.playertwo.id }) }}">{{ match.playertwo.lastname }} {{ match.playertwo.firstname }}</a>
                                        {% else %}
                                            {% if match.playertwo is not null %}
                                                {{ match.playertwo.lastname }} {{ match.playertwo.firstname }}
                                            {% endif %}
                                        {% endif %}
                                        <span>Désigner le vainceur</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="empty">
                                        {% if match.winner is not null %}
                                            {{ match.winner.lastname }} {{ match.winner.firstname }}
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                            {% set j = j+1 %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="Slide">
                    <div class="container">
                        <div class="slider">
                            <input class="range" step="0.01" value="0" type="range" min="0" max="100" />
                            <output id="rangevalue">50</output>
                        </div>
                    </div>
                </div>
            </article>
            {% set i = i+1 %}
            {% endfor %}
        </section>
        {% if tournament.winner is not null %}
            <button>Terminer</button>
        {% endif %}
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
