{% extends 'team/base.html.twig' %}

{% block body %}


    <!-- TODO HEADER + METTRE NOM DE LEQUIPE-->

    <div class="block-01 pt">
        <h2 class="title-1">Ajout d'un coéquipier</h2>
        <p class="sub-title">Tu peux inviter jusqu'à 16 personnes</p>


        <section class="Form-01">
            {{ form_start(form) }}
            <div class="form_control group">
                {{ form_widget(form.firstname) }}
                <span class="highlight"></span><span class="bar"></span>
                {{ form_label(form.firstname) }}
            </div>
            <div class="form_control group">
                {{ form_widget(form.lastname) }}
                <span class="highlight"></span><span class="bar"></span>
                {{ form_label(form.lastname) }}
            </div>
            <div class="form_control group">
                {{ form_widget(form.structure) }}
                <span class="highlight"></span><span class="bar"></span>
                {{ form_label(form.structure) }}
            </div>
            <div class="form_control group">
                {{ form_widget(form.email) }}
                <span class="highlight"></span><span class="bar"></span>
                {{ form_label(form.email) }}
            </div>
            <input type="submit" value="+">
            {{ form_end(form) }}
        </section>


        <h2 class="title-1">Ton équipe | {{ acceptedPlayers|length }}/16 </h2>
        <p class="sub-title">Il faut un minimum de 4 personnes dans ton équipe</p>

        <section class="Tab-01">
            {% for player in user.players %}
            <article class="Accordion">
                <div class="Flex-container">
                    <div class="player">
                        <strong>Joueur {{ loop.index }}</strong>
                    </div>
                    <div class="infos-player">
                        <strong>{{ player.firstname }} {{ player.lastname }}</strong>
                        <span>{{ player.structure }}</span>
                    </div>
                    <div class="mail-player">
                        <span>{{ player.email }}</span><br/>
                        <strong class="status valid">
                            {% if player.status  == 1%}
                                Activé
                            {% elseif player.status == 0 %}
                                Refusé
                            {% else %}
                                En attente
                            {% endif %}
                        </strong>
                    </div>
                    <div class="Accordion-more">
                        <i class="zmdi zmdi-chevron-down"></i>
                    </div>
                </div>

                <div class="Accordion-content is-close">
                    <a href="{{ path('team_stop_invitation', { 'player' : player.id }) }}" class="btn-1 btn-grey">Annuler invitation</a>
                    <a href="{{ path('team_re_invitation', { 'player' : player.id }) }}" class="btn-1 btn-red">Relancer</a>
                </div>
            </article>
            {% endfor %}
        </section>

        <div class="center">
            {% if acceptedPlayers|length >= 4 and acceptedPlayers|length %2 == 0 and user.tournament is null %}
                <a class="btn-1 btn-green whitout-margin" href="{{ path('contest_start', { 'user': user.id }) }}">Lancer le Tournoi</a>
            {% elseif user.tournament is not null %}
                <a class="btn-1 btn-green whitout-margin" href="{{ path('contest_index', { 'tournament': user.tournament.id }) }}">Tableau du Tournoi</a>
            {% endif %}
        </div>

        <br><br><br><br><br><br><br>

        {% if acceptedPlayers|length >= 4 and acceptedPlayers|length %2 == 0 and user.tournament is null %}
            <a href="{{ path('contest_start', { 'user': user.id }) }}">Lancer le Tournoi</a>
        {% elseif user.tournament is not null %}
            <a href="{{ path('contest_index', { 'tournament': user.tournament.id }) }}">Tableau du Tournoi</a>
        {% endif %}
        {% if acceptedPlayers|length == 16 %}
            <p>Vous avez atteint la limite de 16 joueurs</p>
        {% endif %}

    </div>


{% endblock %}

{% block stylesheets %}

{% endblock %}
