{% extends 'base.html.twig' %}

{% block body %}
    <h1>Team</h1>
    {% if user.players|length >= 4 and user.players|length %2 == 0  %}
        <a href="{{ path('tournament_start', { 'user': user.id }) }}">Lancer le Tournoi</a>
    {% endif %}
    {% if user.players|length == 16 %}
        <p>Vous avez atteint la limite de 16 joueurs</p>
    {% endif %}
    {% if user.players is not empty %}
    <table>
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Structure</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for player in user.players %}
                <tr>
                    <td>{{ player.firstname }}</td>
                    <td> {{ player.lastname }}</td>
                    <td>{{ player.structure }}</td>
                    <td>{{ player.email }}</td>
                    <td>
                        {% if player.status  == 1%}
                            Activé
                        {% elseif player.status == 0 %}
                            Refusé
                        {% else %}
                            En attente
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {{ form_start(form) }}
        <div class="form_control">
            {{ form_label(form.firstname) }}
            {{ form_widget(form.firstname) }}
        </div>
        <div class="form_control">
            {{ form_label(form.lastname) }}
            {{ form_widget(form.lastname) }}
        </div>
        <div class="form_control">
            {{ form_label(form.structure) }}
            {{ form_widget(form.structure) }}
        </div>
        <div class="form_control">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <input type="submit">
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}
